body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #2E363E;
}
.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  position: relative;
  background: url(/images/bg-header.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.header-row {
  position: absolute;
  top: 137px;
opacity: 0.1;
width: 1920px;
height: 1px;
background-color: #7E868E ;
}

.header__inner-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 37px;
  &-logo {
    font-weight: 500;
    font-size: 21px;
    line-height: 143%;
    color: #fff;
  }
  &-block {
    display: flex;
    align-items: center;
    color: #fff;
  }
}

.header-block{
  &-address {
    font-size: 12px;
    margin-right: 90px;
  }
  &-address-town {
    position: relative;
  }
  &-address-town::before {
    position: absolute;
    top: 20%;
    left: -20px;
    right: 0;
    content: "";
    background: url(/images/Facebook\ Places.svg);
    width: 12px;
    height: 17px;
  }
  &-contact-town {
    position: relative;
  }
  &-contact-telephone {
    position: relative;
    font-size: 20px;
  }
  &-contact-telephone::before {
    position: absolute;
    top: 20%;
    left: -32px;
    right: 0;
    content: "";
    background: url(/images/Vector.svg);
    width: 19px;
    height: 19px;
  }
  &-time {
    font-size: 13px;
  }
}
.header-bottom {
  max-width: 647px;
  padding-bottom: 465px;
  margin-top: 188px;
  &-subtitle {
    margin-bottom: 24px;
  }
  &-link {
    font-size: 11px;
    letter-spacing: 0.1em;
text-transform: uppercase;
color: #2E363E;
padding: 10px 18px;
background: #F2F6FA;
border-radius: 5px;
  }
  &-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  &-description {
    font-size: 24px;
    line-height: 143%;
    color: #FFFFFF;
  }
  &-btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  &-button-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 152%;
    color: #2E363E;
    padding: 30px 50px;
    background: #FED84C;
border-radius: 8px;
margin-right: 20px;
  }
  &-text {
    font-size: 15px;
    line-height: 160%;
    color: #FFFFFF;

  }
}

.cookies {
  position: relative;
  &__bg {  
    position: absolute;
    width: 100%;
    height: 100%;
    top: 228px;
    left: 0px;
    background: url(/images/bg-group.png);
  background-repeat: no-repeat;
  z-index: -1;
}
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 80px;
  }
  &__inner {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 20px;
  }
  &__inner-item {
    border: 1px solid #F2F6FA;
border-radius: 10px 10px 10px 10px;
  }
  &__inner-img {
border-radius: 10px 10px 0px 0px;

    width: 100%;
    max-width: 380px;
    max-height: 245px;
    margin-bottom: 50px;
  }
&__inner-title {
  margin-left: 44px;
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  margin-bottom: 12px;
}
&__inner-description {
  margin-left: 44px;

  font-size: 16px;
  margin-bottom: 24px;
}
&__inner-price {
  margin-left: 44px;

  font-weight: 500;
  font-size: 24px;
  color: #434B53;
margin-bottom: 34px;
}
&__inner-button {
  margin-bottom: 70px;
  cursor: pointer;
}
&__inner-link {
  margin-left: 44px;
  font-weight: 500;
  line-height: 152%;
  font-size: 18px;
  padding: 20px 40px;
  background: #FED84C;
border-radius: 8px;
cursor: pointer;
}
}
.photo {
  background: url(/images/bg-main.png);
  // width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1352px;
  
}
.photo__wrapper {
  display: flex;
  justify-content: flex-end;
}
.photo__inner {
  padding-left: 100px;
  max-width: 481px;
  padding-top: 419px;
  &-subtitle {
    margin-bottom: 44px;
  }
  &-link {
    font-size: 11px;
    letter-spacing: 0.1em;
text-transform: uppercase;
padding: 10px 18px;
background: #F2F6FA;
border-radius: 5px;
  }
  &-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  &-description {
    font-size: 21px;
    line-height: 143%;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    margin-bottom: 70px;
  }
  &-button {
    font-weight: 500;
    line-height: 152%;
    padding: 30px 50px;
    background: #FED84C;
border-radius: 8px;
  }
}

.chef {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
    max-width: 580px;
  }
  &__subtitle {
    margin-bottom: 34px;
  }
  &__subtitle-link {
    font-size: 11px;
    letter-spacing: 0.1em;
text-transform: uppercase;
padding: 10px 18px;
background: #F2F6FA;
border-radius: 5px;
  }
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 36px;
  }
  &__list {
    margin-bottom: 80px;
    max-width: 438px;
  }
  &__list-item {
    position: relative;
    padding-left: 22px;
    margin-bottom: 30px;
  }
  &__list-item:last-child {
    margin-bottom: 0;
  }
  &__list-item::before {
    position: absolute;
    top: 15%;
    left: 0;
    content: '';
    background: #5D6AFB;
    border-radius: 100%;
    width: 10px;
    height: 10px;
  }
  &__btn-link {
    font-weight: 500;
    line-height: 152%;
    padding: 30px 50px;
    background: #FED84C;
border-radius: 8px;
  }
  &__images {
    width: 100%;
  }
  &__img {
    position: relative;
  }
  .chef__img-bio {
    position: absolute;
    top: 530px;
    left: -68px;
    // max-width: 239px;
    display: flex;
    flex-direction: column;
    display: inline;
  }
  &__img-bio-name {
    display: inline-block;
    height: 60px;
    padding: 0 24px;
    position: relative;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    padding: 15px 0;
    background-color: #2E363E;
    &::before {
      position: absolute;
      content: '';
      background: url(/images/Rectangle.svg);
      width: 24px;
      height: 60px;
      top: 0;
      left: -24px;
    }
    &::after {
      position: absolute;
      content: '';
      background: url(/images/Rectangle-2.png);
      width: 24px;
      height: 60px;
      top: 0;
      right: -24px;
    }
  }
  &__img-bio-work {
    margin-left: 34.5px;
    display: inline-block;
    padding: 0 24px;
    position: relative;
    line-height: 22px;
    letter-spacing: 1px;
text-transform: uppercase;
padding: 15px 0;
background: #F2F6FA;
&::before {
  content: '';
  position: absolute;
  height: 52px;
  width: 24px;
  top: 0;
  left: -22px;
  background: url(/images/Rectangle-white.png);

}
&::after {
  content: '';
  position: absolute;
  height: 52px;
  width: 24px;
  top: 0;
  right: -22px;
  background: url(/images/Rectangle-white-2.png);
}
  }
}

.reviews {
  background: #081130;
  position: relative;
  &::after {
    content: '';
    width: 335px;
height: 513px;
background: url(/images/1\ otziv.png);
background-size: cover;
background-repeat: no-repeat;
position: absolute;
top: 510px;
left: -170px;
  }
  &::before {
    content: '';
    width: 335px;
height: 513px;
background: url(/images/1\ otziv-2.png);
background-size: cover;
background-repeat: no-repeat;
position: absolute;
top: 510px;
right: -170px;
  }
  &__bg {
    height: 330px;
    background: url(/images/03\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__bg-bottom {
    margin-top: 160px;
    background: url(/images/04\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 284px;

  }
  &__title {

    position: relative;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -1px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 80px;
    &::before {
      content: '';
      position: absolute;
      top: -20%;
      left: -160px;
      width: 170.68px;
height: 170px;
background: url(/images/leaf.png);
background-size: cover;
background-repeat: no-repeat;
    }
  }
  &__slider {
    position: relative;
    background: #FFFFFF;
    border: 2px solid #E2EAF2;
    box-shadow: 2px 8px 16px rgba(194, 198, 208, 0.06);
border-radius: 5px;
padding: 70px 143px;
  }
  &__slider::after {
    position: absolute;
    top: -25px;
    right: -70px;
    content: '';
    background: url(/images/berry.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 152px;
height: 156px;
  }
  &__slide-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__slide-content {
    margin-right: 54px;
  }
  &__slide-img {
    margin-bottom: 30px;
    & img {
      width: 100%;
    }
  }
  &__slide-text {
    font-weight: 500;
    font-size: 30px;
    line-height: 143%;
    margin-bottom: 24px;
  }
  &__slide-description {
    font-size: 15px;
    line-height: 170%;
    margin-bottom: 24px;
  }
  &__slide-link {
    font-size: 14px;
    color: #4A94FF;
  }
  &__slide-info {
    &-img {
      border: 1px solid #F2F6FA;
border-radius: 100%;
margin-bottom: 30px;
    }
    &-img img {
      max-width: 380px;
      max-height: 380px;
    }
    &-name {
      font-weight: 500;
      font-size: 21px;
      line-height: 143%;
      text-align: center;
      margin-bottom: 6px;
    }
    &-town {
      font-size: 16px;
      line-height: 170%;
      text-align: center;
      color: #A6AEB6;
    }
  }
}
.slick-prev {
  position: absolute;
  bottom: -166px;
  left: 45%;
  background: url(/images/Arrow-left.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 66px;
  height: 66px;
  color: transparent;
}
.slick-next {
  position: absolute;
  bottom: -166px;
  right: 40%;
  background: url(/images/Arrow-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 66px;
  height: 66px;
  color: transparent;
}

.galerry {
  &__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 14px;
  }
  &__text {
    margin-bottom: 80px;
    text-align: center;

  }
  &__link {
    font-size: 24px;
    line-height: 143%;
  }
  &__images {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    gap: 9px;
  }
  &__images-link {
    max-width: 634px;
    max-width: 634px;
  }
  &__img {
    width: 100%;

  }
  &__img img {
    width: 100%;
    max-height: 444px;

  }
}

.footer {
  background: #081130;
  &__bg {
    background: url(/images/05\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 284px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #7E868E;
    margin-bottom: 22px;
    margin-top: 80px;
    &-btn {
      margin-right: 43px;
      transition: all .3s;
    }
    &-btn:hover {
      margin-right: 43px;
      color: #E2EAF2;
    }
    &-btn:last-child {
      margin-right: 0px;
    }
  }
  &__name {
    font-size: 12px;
    text-align: center;
    color: #7E868E;
    padding-bottom: 80px;
  }

}
.footer__inner {
  background: #FFFFFF;
  position: relative;
border-radius: 8px;
padding: 70px 99px;
z-index: 1;
 &::after {
  content: '';
  position: absolute;
  top: 55%;
  left: 49%;
  background: url(/images/Group\ 4.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1511.9px;
height: 637.7px;
transform: translate(-50%, -50%);
}
  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
    margin-bottom: 12px;
  }
  &-text {
    font-size: 21px;
    line-height: 143%;
    text-align: center;
letter-spacing: -0.2px;
margin-bottom: 36px;
  }
  &-forma {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-forma-block {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: center;
  }
  &-forma-tel {
    padding: 32px 190px 29px 58px;
    background: #F2F6FA;
border-radius: 8px;
margin-right: 20px;
z-index: 2;
  }
  &-forma-button {
    font-weight: 500;
    line-height: 152%;
    padding: 29px 124px;
    background: #FED84C;
border-radius: 8px;
z-index: 2;
  }
  &-forma-button:hover {
    transform: scale(1.1);

  }
  &-forma-label {

    font-size: 11px;
    line-height: 130%;
    color: #7E868E;
  }
  &-forma-checkbox {
z-index: 2;

    margin-right: 7px;
  }
  &-block {
    display: flex;
    align-items: center;
  }
}
